<div class="modal fade" id="lessonCreateModal" tabindex="-1" aria-labelledby="lessonCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="lessonCreateModalLabel">Нове заняття</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
            </div>

            <div class="modal-body">
                {{ include('lesson/_form.html.twig') }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Скасувати
                </button>
                <button type="button" class="btn btn-primary" id="saveLessonButton">
                    Зберегти заняття
                </button>
            </div>
        </div>
    </div>
</div>
